@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
#alert,#loader{
    display: none;
}
.alert{
    opacity: 0.7;
    transition: ease-in;
}
#logout{
    cursor: pointer;
}
#mssg-success-reset{
    opacity: 0.7;
    transition: ease-in;
}
.preloader img{
    opacity: 0.3;
    width: 2rem;
    transition: ease-in;
}
.error{
    color:#dc3545;
    font-weight: 600;
    font-size: 0.875rem;
}